.list {
  display:flex;
  flex-flow: row nowrap;
  list-style: none;
  margin-left: auto;
}

.item:not(:first-of-type) {
  margin-left: 50px;
}

.link {
  text-transform: uppercase;
  background: linear-gradient(to right, #000000, #1b2ecc, #000000);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0,0,0,1);
  text-align:center;
  transition: color .2s ease-in-out;
}


.link:hover{
  color:rgba(0,0,0,0);
}

@keyframes rainbow {
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
