.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  display: block;
  background-color: $background-fill-color-first;
  opacity: 0.6;
}

.modal {
  width: 800px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%,-50%);
  z-index: 12;
  border-radius: 8px;

  &__close-button {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;

    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &-icon {
      & svg {
        fill: $background-fill-color-first;
      }
    }
  }
}