@import './fonts/fonts.scss';
@import './styles/variables.scss';


html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $background-fill-color-first;
  font-family: "Montserrat";
  font-variation-settings: "wght" 750, "wdth" 125;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}